<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Details</title>
</head>
<body>
<p><strong>Имя:</strong> <span th:text="${person.name}">Name</span></p>
<p><strong>Email:</strong> <span th:text="${person.email}">Email</span></p>
<p><strong>Пароль:</strong> <span th:text="${person.password}">Password</span></p>
<p><strong>Дата регистрации:</strong> <span th:text="${person.registration}">Registration</span></p>

<p>
    <button th:onclick="|window.location.href='@{/people/{id}/edit(id=${person.personId})}'|">Редактировать</button>
</p>
<div th:if="${not #lists.isEmpty(person.playlists)}">
    <br/>
    <hr/>
    <h3>Плейлисты:</h3>
    <ul>
        <li th:each="playlist : ${person.playlists}">
            <p><a th:href="@{/playlists/{id}(id=${playlist.playlistId})}" th:text="${playlist.name}">Name</a></p>
        </li>
    </ul>
</div>
<div th:unless="${not #lists.isEmpty(person.playlists)}">
    <p>Плейлистов нет</p>
</div>

<br/>
<hr/>

<p>
    <button th:onclick="|window.location.href='@{/playlists/new(personId=${person.personId})}'|">Добавить плейлист</button>
</p>

<p>
<form th:action="@{/people/{id}(id=${person.personId})}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Удалить"/>
</form>
</p>


<a href="/people">Назад к списку</a>
</body>
</html>
