<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artist Details</title>
</head>
<body>
<p><strong>Имя:</strong> <span th:text="${artist.name}">Name</span></p>
<p><strong>Биография:</strong> <span th:text="${artist.bio}">Bio</span></p>
<p>
    <strong>Фото:</strong>
    <img th:src="@{${artist.photo}}" alt="Artist Photo" style="max-width: 100px; max-height: 100px;" onload="logImageSrc(this.src)" onerror="logImageSrc('Error loading image')"/>
</p>

<p>
    <button th:onclick="|window.location.href='@{/artists/{id}/edit(id=${artist.artistId})}'|">Редактировать</button>
</p>


<div th:if="${not #lists.isEmpty(artist.albums)}">
    <br/>
    <hr/>
    <h3>Альбомы:</h3>
    <ul>
        <li th:each="album : ${artist.albums}">
            <p><a th:href="@{/albums/{id}(id=${album.albumId})}" th:text="${album.name}">Name</a>
                (<span th:text="${album.release}">Release</span>)
            </p>
        </li>
    </ul>
</div>
<div th:unless="${not #lists.isEmpty(artist.albums)}">
    <p>Альбомов нет</p>
</div>

<br/>
<hr/>



<p>
    <button th:onclick="|window.location.href='@{/albums/new(artistId=${artist.artistId})}'|">Добавить альбом</button>
</p>

<p>
<form th:action="@{/artists/{id}(id=${artist.artistId})}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Удалить"/>
</form>
</p>

<a href="/artists">Назад к списку</a>
</body>
</html>
